/* css样式初始化 */
html,
body {
    width: 100vw;
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif, "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
dl,
dt,
dd,
th,
td,
form,
input,
button,
textarea,
p {
    margin:  0;
    padding: 0;
    outline: none;
}

textarea { 
    resize:none;
}

i, 
em, 
strong { 
    font-style:normal;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

a:hover { 
    transition: .1s;
}

/* 解决级联选择器超出屏幕现象 */
.el-cascader-panel{
    height: 600px;
}